@layer normalize, component, variant, main, adaptive;

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url(/font/HelveticaNeueBold.ttf);
}

@layer component {
  .button {
    text-decoration: none;
    color: var(--color-black);
    padding: var(--spacing-3);
    border-radius: var(--radius-1);
    text-align: center;
    border: 1px solid transparent;
  }

  .click {
    transition: opacity var(--transition-1);
  }

  .click:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
  }

  .click:active {
    opacity: var(--opacity-2);
  }

  .icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .double_line {
  line-height: var(--line-height);
  }

  .page_section {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .page_hw_section {
    display: flex;
    justify-content: center;
  }
}

@layer variant {
  .button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .button_secondary {
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-width: 2px;
  }

  .page_section_light {
    background-color: var(--color-light);
  }

  .feat_icon {
    height: 48px;
    width: 48px;
  }

  .icon_arrow {
    height: 14px;
    width: 24px;
    background-image: url('/svg/arrow-right.svg');
  }
}

body {
  font-family: 'HelveticaNeueBold', sans-serif;
  background-color: var(--color-white);
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #611f69;
  --color-light: #F4EDE4;
  --color-text: #454245;
  --color-link: #1264A3;

  --page-width-big: 1260px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;

  --size-1: 14px;
  --size-2: 18px;
  --size-3: 22px;
  --size-4: 26px;
  --size-5: 30px;
  --size-6: 34px;

  --radius-1: 4px;

  --opacity-1: 0.7;
  --opacity-2: 0.5;
  --transition-1: 0.7s;

  --line-height: 1.5em;
}

@layer main {
  .page {
    display: grid;
  }

  .page_content {
    width: 100%;
    padding: 15px;
  }

  .hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    height: 60vh;
    min-height: 600px;
  }

  .hero {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .hero_content {
    display: grid;
    gap: var(--spacing-5);
    max-width: 425px;
    color: var(--color-black);
    position: relative;
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
  }

  .hero_image {
    position: absolute;
    left: 580px;
    top: 0;
  }

  .hero_label {
    font-size: var(--size-1);
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_info {
    font-size: var(--size-2);
  }

  .hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
  }

  .features_section {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    gap: var(--spacing-5);
    background-image: url(/img/features.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 0px;
  }

  .features_title {
    font-size: var(--size-6);
  }

  .features_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
  }

  .feat_card {
    font-size: var(--size-2);
    line-height: var(--line-height);
    padding: var(--spacing-3);
    background-color: var(--color-white);
    display: grid;
    gap: var(--spacing-3);
    grid-template-rows: min-content min-content 1fr min-content;
  }

  .feat_link {
    justify-self: flex-end;
  }

  .features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
  }

  .features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;
  }

  .needs_section {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    gap: var(--spacing-5);
    background-image: url(/img/needs.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: 0px;
  }

  .needs_title {
    font-size: var(--size-6);
    grid-column: 3 / 5;
  }

  .needs_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
    grid-column: 3 / 5;
  }

  .needs_grid_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
    grid-column: 2 / 5;
    grid-column-start: 2;
  }

  .needs_grid_3 > .feat_card:first-of-type {
    grid-row: 1 / 3;
  }

  .needs_grid_3 > .feat_card:nth-of-type(2) {
    grid-row: 1 / 3;
  }

  .needs_grid_3 > .feat_card:nth-of-type(4) {
    grid-row: 2 / 3;
  }

  .delivery_section {
    padding: 72px 450px 48px 450px;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
    justify-content: center;
    align-items: center;
  }

  .delivery_description {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 433px;
  }

  .delivery_text {
    font-size: var(--spacing-6);
    font-weight: 700;
    line-height: var(--line-height);
  }

  .delivery_logo {
    max-width: 556px;
    max-height: 228px;
  }

  .delivery_logo {
    max-width: 147px;
    max-height: 39px;
  }

  .delivery_address {
    font-size: var(--spacing-3);
    font-weight: 700;
    max-width: 520px;
    line-height: var(--line-height);
  }

  .explore_section {
    padding: 110px 450px 80px 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .explore_title {
    font-size: var(--spacing-7);
    font-weight: 700;
  }

  .explore_list {
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: space-around;
  }

  .exp_card {
    width: 285px;
    height: 420px;
    background: var(--color-white);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);

    display: grid;
    align-items: center;
    gap: var(--spacing-3);
    grid-template-rows: min-content min-content 1fr min-content;
  }

  .exp_links {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--color-link);
  }

  .exp_card_group {
    font-size: var(--size-1);
    color: var(--color-text);
    font-weight: 700;
    line-height: var(--line-height);
    padding-left: var(--spacing-3);
  }

  .exp_card_info {
    font-size: var(--spacing-5);
    color: var(--color-black);
    font-weight: 700;
    line-height: var(--line-height);
    padding: var(--spacing-3);
  }

  .exp_links {
    color: var(--color-link);
    padding: var(--spacing-3);
    padding-bottom: var(--spacing-4);
  }
}

@layer adaptive {
  @media all and (1260px <= width) {
    .page_content {
      max-width: var(--page-width-big);
    }
  }
  
  @media all and (1000px <= width < 1260px) {
    .page_content {
      max-width: var(--page-width-medium);
    }

    .hero_image {
      left: 518px;
      height: 300px;
    }
  }
  
  @media all and (width < 1000px) {
    .page_content {
      max-width: var(--page-width-small);
    }

    .hero_image {
      position: static;
      width: 100%;
      order: -1;
    }

    .hero_content {
      max-width: 100%;
    }

    .features_grid_4 {
      grid-template-columns: repeat(3, 1fr);
    }

    .features_grid_4 > .feat_card:first-of-type {
      grid-row: 1 / 3;
    }

    .features_section {
      background: none;
    }
  }

  @media all and (width < 600px) {
    .features_grid_4 {
      grid-template-columns: 2fr, 2fr;
    }
  }

  @media all and (width < 400px) {
    .features_grid_4 {
      grid-template-columns: 1fr;
    }

    .hero_buttons {
      grid-template-columns: 1fr;
      gap: var(--spacing-2);
    }
  }
}