:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #dee2e6;
  --color-primary: rgb(46, 46, 255);
  --color-blue: #0D6EFD;
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-card: #F8F9FA;

  --border-radius: 12px;
  --border-radius-s: 4px;

  --weight-title-b: 700;
  --weight-title: 600;
  --weight-text: 400;

  --page-width: 1000px;
}

/* =============== */
.page {
  background: var(--color-white);
  padding: 0 15px;
  
  display: flex;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
}

.page_content {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* =============== */

.header {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-m);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: #6c757d;

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);
}

.main {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
}

.info {
  background-color: var(--color-white);
  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.info_title {
  font-size: 56px;
  color: var(--color-title);
  font-weight: var(--weight-title-b);
  line-height: 67px;
}

.info_description {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);
  line-height: 36px;
}

.form {
  max-width: 394px;
  width: 100%;
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  padding: 60px 48px;

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}

.form_input {
  padding: 16px;
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form_checkbox > input {
  border: 1px solid #767676;
  border-radius: var(--border-radius-s);
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
}

.form_button {
  text-align: center;
  background-color: var(--color-blue);
  padding: var(--space-m);
  color: var(--color-white);
  border-radius: var(--border-radius-s);
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: #6c757d;
}

.updates {
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-s);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.updates_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.list_block {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.updates_nickname {
  color: var(--color-text);
  font-size: var(--space-m);
  font-weight: var(--weight-title-b);
}

.updates_description {
  color: var(--color-text);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 100%;
}

.updates_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  align-self: flex-start;

  transition-duration: 0.7s;
  transition-property: opacity, border-color;
  border-bottom: 1px solid transparent;
}

.updates_link:hover {
  opacity: 0.7;
  border-color: var(--color-primary);
}

.expirience {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
  border-radius: var(--border-radius-s);
  gap: var(--space-l);
  padding: var(--space-l);
  position: relative;
}

.expirience_title {
  color: var(--color-title);
  font-size: 50px;
  font-weight: var(--weight-title);
  height: 50px;
}

.experience_badge {
display: flex;
flex-direction: column;
align-items: center;
padding: 12px 24px;
gap: 12px;

color: var(--color-white);
font-size: var(--size-b);
font-weight: var(--weight-title-b);

position: absolute;
width: 90px;
height: 53px;
right: 0;
top: 0;

background: #FF7347;
border-radius: 70px;
transform: rotate(30deg);
}

.exp_block {
  display: flex;
  gap: var(--space-l);
}

.exp_card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: var(--size-d);
  gap: var(--space-s);
  background-color: var(--color-title);
}

.exp_card > strong {
  font-size: var(--size-l);
  color: var(--color-white);
  font-weight: var(--weight-title);
}

.exp_card > p {
  font-size: var(--size-d);
  color: #b1b1b1;
  line-height: 22px;
}